<div class="wrapper"> 
    {% paginate blog.articles by 5 %}
    {% include 'breadcrumbs' %}

<div class="grid">
	<div class="grid-item large--three-quarters push--large--one-eighth">
		{% if currentTags.size > 0 %}
			<h1><a href="{{ blog.url }}">{{ meta.h1 }}</a>&mdash;{{ lang.tagged | def:'Tagged' }} : {{ currentTags.first }}</h1>
		{% else %}
			<h1>{{ meta.h1 }}</h1>
		{% endif %}
		    <div class="rte rte--header margin-none rm">
        		{{ blog.html }}
            </div>

		{% for article in blog.articles %}
		    <div class="article-card gutter-top">
			<h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
			<small><time pubdate datetime="{{ article.publishAt | date }}">{{ article.publishAt | date }}</time></small>
			<div class="rte">
				{% if article.excerpt.size > 0 %}
					{{ article.excerpt }}
				{% else %}
					<p>{{ article.content | strip_html | truncatewords: 300 }}</p>
				{% endif %}
			</div>
			{% if article.tags.size > 0 %}
                <span>{{ lang.tagged | def:'Tagged' }}:</span>
                {% for tag in article.tags %}
                    <a href="/{{blog.url}}?tags={{ tag }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
                {% endfor %}

	       {% endif %}
			<p><a href="{{ article.url }}">{{ lang.read_more | def:'Read more'}} →</a></p>
			</div>
		{% endfor %}
		{% if paginate.pages > 1 %}
		<div class="text-center">
			{% include 'pagination-custom' %}
		</div>
		{% endif %}
	</div>
</div>

{% endpaginate %}
</div>